body{
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif ;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    margin-bottom: 25px;
    background-color: black;
    color: white;
}

header img {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 50px;
    height: 50px;
}


main {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    border-radius: 5px;
    width: 660px;
    height: 40px;
    padding-left: 5px;
}

#btn{
    width: 140px;
    height: 32px;
    border-radius: 5px;
    background-color: #0D47A1;
    font-weight: bold;
    color: white;
    border: none;
}

#btn:hover{
    background-color: #196dec;
    cursor: pointer;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}